@use "../mixins" as m;
@use "../variables" as v;

.footer {
    background-color: v.$bg-light-color;
    border-bottom: 1px solid v.$border-color;

    &__container {
        @include m.container-size(32px 100px 31px);
        @include m.text-style;

        text-align: right;
    }
}
