@use "../mixins" as m;
@use "../variables" as v;

.header {
    background-color: v.$bg-color;
    border-bottom: 1px solid v.$border-color;

    &__container {
        @include m.flexbox($content: space-between, $items: center);
        @include m.container-size(31px 100px 30px);
    }

    &__img {
        @include m.img-block;
    }

    &__list {
        @include m.flexbox($gap: 53px);
        @include m.list-style;

        flex-wrap: wrap;
    }

    &__link {
        @include m.link-style;
        @include m.text-style;

        &:hover {
            @include m.text-style($color: v.$text-light-color, $weight: 500);
        }
    }
}
