$bg-color: #FFFDF7;
$bg-dark-color: #EBE3D3;
$bg-light-color: #FFFFFF;
$bg-secondary-color: #E8F0E3;
$bg-tertiary-color: #F7F1EC;
$border-color: #F6F5F0;
$border-dark-color: #CCCCCC;
$cta-color: #FFFDF7;
$cta-bg-color: #565656;
$text-color: #333333;
$text-dark-color: #000000;
$text-error-color: #D9534F;
$text-light-color: #666666;
