$bg-color: #FFFDF7;
$bg-dark-color: #EBE3D3;
$bg-light-color: #FFFFFF;
$bg-secondary-color: #E8F0E3;
$border-color: #F6F5F0;
$cta-color: #FFFDF7;
$text-color: #333333;
$text-dark-color: #000000;
$text-light-color: #666666;
