@use "../mixins" as m;
@use "../variables" as v;

.login {
    background-color: v.$bg-color;

    &__container {
        @include m.flexbox($gap: 100px);
        @include m.container-size;
    }

    &__content {
        @include m.flexbox($direction: column, $gap: 30px);

        width: 479px;
        padding-top: 80px;
    }

    &__title {
        @include m.text-style($size: 1.25em, $weight: 500);
    }

    &__form {
        @include m.flexbox($direction: column, $gap: 10px);

        margin-top: 10px;
    }

    &__label {
        @include m.text-style($color: v.$text-light-color);
    }

    &__input {
        @include m.input-style;

        margin-bottom: 20px;
    }

    &__submit {
        @include m.cta-style;
    }

    &__link {
        @include m.text-style($color: v.$text-light-color);

        text-align: center;
    }

    &__error {
        @include m.text-style($color: v.$text-error-color, $weight: 500);

        margin-bottom: 20px;
    }
}
